<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Médicos y Pacientes</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            color: #000000;
            background-color: #f3f2f1;
        }
    </style>
</head>
<body>
    <h1>Ingresar datos</h1>
    <a href="{% url 'add_med' %}"><button>Agregar médico</button></a>
    <a href="{% url 'add_paciente' %}"><button>Agregar paciente</button></a>
</body>
</html>