<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacientes</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            color: #333;
            background-color: #f4f4f4;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #4c6faf;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Listado de pacientes</h1>
    <a href="{% url 'add_paciente' %}"><button>Agregar paciente</button></a>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de nacimiento</th>
                <th>Sexo</th>
                <th>Altura</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ paciente.nombre }}</td>
                <td>{{ paciente.apellido }}</td>
                <td>{{ paciente.fecha_nacimiento }}</td> 
                <td>{{ paciente.sexo }}</td> 
                <td>{{ paciente.altura }}</td> 
            </tr>
        </tbody>
    </table>
</body>
</html>
